body{
  font-family: 'Poppins', sans-serif;
}

.main {
  padding-top: 2rem;
  background-color: #e5e5e5;
  border-top: 1px solid #e5e7eb;
}

.btn-div {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  max-width: 64rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.info {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.card {
  margin-bottom: 1rem;
  max-width: 64rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.card-content {
  padding: 1.5rem;
}

.inline-fields {
  display: flex;
  gap: 1rem;
}

.accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.delete {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.card-label-flex {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 1rem;
}

.card-label {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 1rem;
}

.payment-history-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  font-size: 0.875rem;
  padding: 0.5rem 0;
}

.payment-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 0.5rem 0;
  font-size: 0.875rem;
  background-color: #F0EDED;
  border-radius: 0.5rem;
}

.pagination-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pagination-page-text {
  font-size: 0.875rem;
}

.card {
  padding: 0.5rem;
}


@media (min-width: 1024px) {
  .btn-div {
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .card-label-flex {
    margin-bottom: 0;
    justify-content: flex-end;
    width: 200px;
    padding-right: 1rem;
  }
}